/*
.row{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    padding: 20px;
    text-align: center;
    justify-content: center; 
}*/

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 0 auto;   
    width: 90%;
}

.circulo__completo{
    display: flex;
    width: 400px;
    height: auto;

    margin: 10px;
    line-height:80px;
    text-align: center; 
}

.edit-delete{
    display:flex;  
}
